<% // navbar and corresponding windows %>
<header class="d-print-none" role="banner">
    <div data-role="appbar" style="overflow: initial;"></div>
    <script id="appbar-logo-template" type="text/x-kendo-tmpl"><%- include('logo.ejs') %></script>
    <script id="appbar-menu-template" type="text/x-kendo-tmpl">
        <% if (Array.isArray(menu)) { %>
            <ul data-role="menu" class="p-0">
                <% for (var i = 0; i < menu.length; i++) { %>
                    <li>
                        <% if (menu[i].href) { %>
                            <a href="<%- menu[i].href %>">
                        <% } %>
                        <% if (menu[i].icon) { %>
                            <i class="kf kf-<%- menu[i].icon %> mx-1"></i>
                        <% } %>
                        <span><%- menu[i].text %></span>
                        <% if (menu[i].href) { %>
                            </a>
                        <% } %>
                        <% if (menu[i].items) { %>
                            <ul>
                                <% for (var j = 0; j < menu[i].items.length; j++) { %>
                                    <li><a href="<%- menu[i].items[j].href %>"><%- menu[i].items[j].text %></a></li>
                                <% } %>
                            </ul>
                        <% } %>
                    </li>
                <% } %>
            </ul>
        <% } %>
    </script>
</header>
