<% include header.ejs %>

<main>
    <div id="error-wrapper" class="k-content">
        <div class="container">
            <div class="page-header">
                <h1>
                    <% if (icon) { %><img src="<%= urljoin(config.uris.cdn.root, format(config.uris.cdn.icons, icon)) %>" alt="<%= title %>"><% } %>
                    <span><%= title %></span>
                </h1>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-danger" role="alert"><%= description %></div>
                </div>
            </div>
            <div class="pull-right"><button id="back-button" class="k-button"><%- __('error.back')  %></button></div>
        </div>
    </div>
</main>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="<%= urljoin(config.uris.webapp.root, format(config.uris.webapp.public, 'assets/common.bundle.js')) %>"></script>
<script src="<%= urljoin(config.uris.webapp.root, format(config.uris.webapp.public, 'assets/error.bundle.js')) %>"></script>

<% include footer.ejs %>
