<% // Kidoju error page %>
<!DOCTYPE html>
<html lang="<%- language %>">

<% // html head %>
<% include head.ejs %>

<body>

<% // common requirements %>
<% include common.ejs %>

<% // navigation bar %>
<% include navbar.ejs %>

<main class="k-content">
    <div class="container">
        <div id="id-main-title" class="border-bottom my-3">
            <h1 class="d-flex">
                <% if (icon) { %><img class="mr-1" src="<%= icon %>" alt="<%= title %>"><% } %>
                <span><%= title %></span>
            </h1>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger" role="alert"><%= description %></div>
            </div>
        </div>
        <div class="float-right"><button class="k-button"><%- __('error.back')  %></button></div>
    </div>
</main>

<% // footer with language and theme %>
<% include footer.ejs %>

<script defer src="<%- scriptURL('common.bundle.js') %>" crossorigin="anonymous"></script>
<script defer src="<%- scriptURL('error.bundle.js') %>" crossorigin="anonymous"></script>

</body>
</html>
