<% // Kidoju error page %>

<% // page header %>
<% include header.ejs %>

<% // navigation bar %>
<% include navbar.ejs %>

<main>
    <div id="error-wrapper" class="k-content">
        <div class="container">
            <div class="page-header">
                <h1>
                    <% if (icon) { %><img src="<%= url.join(config.uris.cdn.root, format(config.uris.cdn.icons, icon)) %>" alt="<%= title %>"><% } %>
                    <span><%= title %></span>
                </h1>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-danger" role="alert"><%= description %></div>
                </div>
            </div>
            <div class="pull-right"><button id="back-button" class="k-button"><%- __('error.back')  %></button></div>
        </div>
    </div>
</main>

<script src="//code.jquery.com/jquery-1.12.2.min.js"></script>
<script src="<%= url.join(config.uris.webpack.root, 'common.bundle.js') + '?v=' + config.application.version %>"></script>
<script src="<%= url.join(config.uris.webpack.root, 'error.bundle.js') + '?v=' + config.application.version %>"></script>

<% include footer.ejs %>
