<footer class="hidden-print">
    <div class="container-fluid">
        <div class="row">
            <div id="footer-links" class="pull-left hidden-xs hidden-sm">
                <div class="form-inline" role="form">
                    <span id="copyright"><%- __('footer.copyright', config.application.version) %></span>
                </div>
            </div>
            <div id="footer-settings" class="pull-right">
                <div class="form-inline pull-right" role="form">
                    <div class="form-group">
                        <label for="footer-settings-language"><%- __('footer.language.label') %>&nbsp;
                            <select id="footer-settings-language" data-role="dropdownlist" data-bind="value:locale">
                                <% __('languages').forEach(function (language) { %>
                                <option value="<%- language.value %>"><%- language.name %></option>
                                <% }) %>
                            </select>
                        </label>
                    </div>
                    <div class="form-group hidden-xs">&nbsp;&nbsp;&nbsp;
                        <label for="footer-settings-theme"><%- __('footer.theme.label') %>&nbsp;
                            <select id="footer-settings-theme" data-role="dropdownlist" data-bind="value:theme">
                                <% __('themes').forEach(function (theme) { %>
                                <option value="<%- theme.value %>"><%- theme.name %></option>
                                <% }) %>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
