<footer class="hidden-print" role="banner">
    <div class="container-fluid">
        <div class="row">
            <div id="footer-links" class="col-sm-4 hidden-xs">
                <div class="form-inline" role="form">
                    <span id="copyright"><%- __('footer.copyright') %></span>
                </div>
            </div>
            <div id="footer-settings" class="col-sm-8">
                <div class="form-inline pull-right" role="form">
                    <div class="form-group help" title="<%- __('footer.language.tooltip') %>">
                        <label for="footer-settings-language"><%- __('footer.language.label') %>&nbsp;
                            <select id="footer-settings-language" data-role="dropdownlist" data-bind="value:locale">
                                <% __('languages').forEach(function(language){ %>
                                <option value="<%- language.value %>"><%- language.name %></option>
                                <% }) %>
                            </select>
                        </label>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group help" title="<%- __('footer.theme.tooltip') %>">
                        <label for="footer-settings-theme"><%- __('footer.theme.label') %>&nbsp;
                            <select id="footer-settings-theme" data-role="dropdownlist" data-bind="value:theme">
                                <% __('themes').forEach(function(theme){ %>
                                <option value="<%- theme.value %>"><%- theme.name %></option>
                                <% }) %>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
