<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <title><%= title %></title>
    <%// meta data %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="<%= author %>">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <% // Twitter card - https://dev.twitter.com/cards/markup %>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@<%- config.twitter.account %>">
    <% // Facebook %>
    <meta property="fb:app_id" content="<%- config.facebook.clientID %>" />
    <% // Open graph protocol - https://developers.facebook.com/tools/debug/og/object/ %>
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="<%= image %>" />
    <meta property="og:site_name" content="<%- config.application.siteName %>" />
    <meta property="og:type" content="article" />
    <% if (typeof site_url === 'string' ) { %>
    <meta property="og:url" content="<%= site_url %>" />
    <link rel="canonical" href="<%= site_url %>" />
    <!--link rel="amphtml" href="<%= site_url %>?format=amp" /-->
    <% } %>
    <% // Google Tag Manager %>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','<%- config.google.tagManager.web %>');</script>
    <% // Favicon and apple touch icons %>
    <link rel="shortcut icon" href="<%- url.join(config.uris.cdn.root, format(config.uris.cdn.images, 'favicon.ico')) %>">
    <link rel="apple-touch-icon" sizes="57x57" href="<%- url.join(config.uris.cdn.root, format(config.uris.cdn.images, 'apple-touch-icon-57x57.png')) %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%- url.join(config.uris.cdn.root, format(config.uris.cdn.images, 'apple-touch-icon-72x72.png')) %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%- url.join(config.uris.cdn.root, format(config.uris.cdn.images, 'apple-touch-icon-76x76.png')) %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%- url.join(config.uris.cdn.root, format(config.uris.cdn.images, 'apple-touch-icon-114x114.png')) %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%- url.join(config.uris.cdn.root, format(config.uris.cdn.images, 'apple-touch-icon-120x120.png')) %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%- url.join(config.uris.cdn.root, format(config.uris.cdn.images, 'apple-touch-icon-144x144.png')) %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%- url.join(config.uris.cdn.root, format(config.uris.cdn.images, 'apple-touch-icon-152x152.png')) %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%- url.join(config.uris.cdn.root, format(config.uris.cdn.images, 'apple-touch-icon-180x180.png')) %>">
    <% // Other apple meta tags %>
    <meta name="apple-itunes-app" content="app-id=1361726891"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <% // Google PWA manifest %>
    <link rel="manifest" href="/manifest.json">
    <% // Robots %>
    <meta name="robots" content="noarchive">
    <% // Config head in ./webapp/config/default.json, for example to add site verification tags %>
    <% if (typeof config.head === 'string' ) { %>
    <%- config.head %>
    <% } %>
    <% // IE10 viewport hack for Surface/desktop Windows 8 bug - http://getbootstrap.com/getting-started/#support-ie10-width %>
    <script>
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement('style');
            msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'));
            document.querySelector('head').appendChild(msViewportStyle);
        }
    </script>
    <% // Promise polyfill for webpack v2 - https://github.com/Memba/Memba-Blog/issues/113 %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.5.1/bluebird.core.min.js" integrity="sha256-7jOZQO3inJV9wbRvcN3ao6mKhFQOPNITDVSUc1JSbtk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script defer src="<%- url.join(config.uris.webpack.root, 'init.bundle.js') + '?v=' + config.application.version %>" crossorigin="anonymous"></script>
    <style>
        @-webkit-viewport{width:device-width}
        @-moz-viewport{width:device-width}
        @-ms-viewport{width:device-width}
        @-o-viewport{width:device-width}
        @viewport{width:device-width}
        html,body{
            width:100%;
            margin:0;
            overflow:auto;
        }
        body>div.k-loading-image{
            top:0;
            height:100%;
            width:100%;
            background-color:#CCCCCC;
            position:absolute;
            z-index: 2000;
        }
    </style>
</head>
