<% // Blog home page %>

<% // page header %>
<% include header.ejs %>

<% // navigation bar %>
<% include navbar.ejs %>

<main>
    <div id="home-wrapper">
        <div class="jumbotron"><h1><%= description %></h1></div>
        <div class="container k-content">
            <div class="row">
                <div class="col-xs-6">
                    <a href="<%= format(config.uris.webapp.pages, 'en', '') %>">
                        <div class="uk flag"></div>
                    </a>
                    <h2><%= config.home.uk.title %></h2>
                    <p><%= config.home.uk.text %></p>
                </div>
                <div class="col-xs-6">
                    <a href="<%= format(config.uris.webapp.pages, 'fr', '') %>">
                        <div class="fr flag"></div>
                    </a>
                    <h2><%= config.home.fr.title %></h2>
                    <p><%= config.home.fr.text %></p>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-1.11.3.min.js" integrity="sha256-7LkWEzqTdpEfELxcZZlS6wAx5Ff13zZ83lYO2/ujj7g=" crossorigin="anonymous"></script>
<script src="<%= url.join(config.uris.webpack.root, 'common.bundle.js') + '?v=' + config.application.version %>" crossorigin="anonymous"></script>
<script src="<%= url.join(config.uris.webpack.root, 'home.bundle.js') + '?v=' + config.application.version %>" crossorigin="anonymous"></script>

<% include footer.ejs %>
