<% // Blog home page %>
<!DOCTYPE html>
<html lang="<%- language %>">

<% // html head %>
<% include head.ejs %>

<body>

<% // common requirements %>
<% include common.ejs %>

<% // navigation bar %>
<% include navbar.ejs %>

<main>
    <div id="home-wrapper">
        <div class="jumbotron"><h1><%= description %></h1></div>
        <div class="container k-content">
            <div class="row">
                <div class="col-xs-6">
                    <a href="<%= format(config.uris.webapp.pages, 'en', '') %>">
                        <div class="uk flag"></div>
                    </a>
                    <h2><%= config.home.uk.title %></h2>
                    <p><%= config.home.uk.text %></p>
                </div>
                <div class="col-xs-6">
                    <a href="<%= format(config.uris.webapp.pages, 'fr', '') %>">
                        <div class="fr flag"></div>
                    </a>
                    <h2><%= config.home.fr.title %></h2>
                    <p><%= config.home.fr.text %></p>
                </div>
            </div>
        </div>
    </div>
</main>

<% // footer with language and theme %>
<% include footer.ejs %>

<script src="<%= url.join(config.uris.webpack.root, 'common.bundle.js') + '?v=' + config.application.version %>" crossorigin="anonymous"></script>
<script src="<%= url.join(config.uris.webpack.root, 'home.bundle.js') + '?v=' + config.application.version %>" crossorigin="anonymous"></script>

</body>
</html>
