<% // navbar and corresponding windows %>
<header class="d-print-none" role="banner">

    <% // Navigation bar at the top of the page %>
    <nav class="navbar navbar-expand border-bottom py-1 pl-0 pr-2" role="navigation">
        <% if (Array.isArray(menu) && menu.length) { %>
        <a id="id-drawer-button" href="#" class=" d-md-none mx-2" title="<%- __('header.navbar.toggle') %>">
            <span class="k-icon k-i-menu"></span>
        </a>
        <% } %>
        <a class="navbar-brand" href="/"><%- include('logo.ejs') %></a>
        <% if (Array.isArray(menu)) { %>
        <div class="d-none d-md-flex flex-grow-1 justify-content-end">
            <ul class="navbar-nav">
                <% for (var i = 0; i < menu.length; i++) { if (menu[i].items) { %>
                    <li class="nav-item dropdown">
                        <a id="id-toggle-<%- i %>" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="kf kf-<%- menu[i].icon %> mx-1"></i><span><%- menu[i].text %>&nbsp;<span class="caret"></span></span>
                        </a>
                        <div class="dropdown-menu" role="menu" aria-labelledby="id-toggle-<%- i %>">
                            <% for (var j = 0; j < menu[i].items.length; j++) { %>
                                <a class="dropdown-item" href="<%- menu[i].items[j].href %>"><%- menu[i].items[j].text %></a>
                            <% } %>
                        </div>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="<%- menu[i].href %>">
                            <i class="kf kf-<%- menu[i].icon %> mx-1"></i><span><%- menu[i].text %></span>
                        </a>
                    </li>
                <% } } %>
            </ul>
            <form class="form-inline mx-0 ml-md-4" role="form">
                <span class="k-textbox k-space-right">
                    <input type="search" placeholder="<%- __('header.navbar.search.placeholder') %>">
                    <a href="#" class="k-icon k-i-search">&nbsp;</a>
                </span>
            </form>
        </div>
        <% } %>
    </nav>
</header>
