<% // Blog standalone page %>
<!DOCTYPE html>
<html lang="<%- language %>">

<% // html head %>
<% include head.ejs %>

<body>

<% // common requirements %>
<% include common.ejs %>

<% // navigation bar %>
<% include navbar.ejs %>

<main class="k-content" itemscope itemtype="http://schema.org/Article">

    <% // drawer %>
    <% include drawer.ejs %>

    <div class="container" role="document">
        <div id="id-main-title" class="border-bottom my-3">
            <h1>
                <% if (icon) { %><img src="<%- new URL(format(config.uris.cdn.icons, icon), config.uris.cdn.root).href %>" alt="<%= title %>"><% } %>
                <span itemprop="name"><%= title %></span>
            </h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div hidden>
                    <span itemscope itemtype="http://schema.org/Person" itemprop="author">
                        <span itemprop="name"><%= author %></span>
                    </span>
                    <time itemprop="dateModified" datetime="<%= creation_date %>"><%= moment(creation_date).locale(getLocale()).format('LLL') %></time>
                    <time itemprop="datePublished" datetime="<%= creation_date %>"><%= moment(creation_date).locale(getLocale()).format('LLL') %></time>
                    <span itemprop="articleSection"><%= category %></span>
                    <span itemprop="description"><%= description %></span>
                    <span itemprop="headline"><%= description.substr(0, 100) + '...' %></span>
                    <span itemprop="inLanguage"><%= getLocale() %></span>
                    <img itemprop="image" src="<%= image %>" alt="<%= title %>">
                    <span itemprop="mainEntityOfPage"><%= site_url %></span>
                    <span itemscope itemtype="http://schema.org/Organization" itemprop="publisher">
                        <span itemprop="name"><%- config.application.siteName %></span>
                        <span itemscope itemtype="http://schema.org/ImageObject" itemprop="logo">
                            <span itemprop="url"><%- new URL(format(config.uris.cdn.images, 'apple-touch-icon-180x180.png'), config.uris.cdn.root).href %></span>
                        </span>
                    </span>
                    <span itemprop="url"><%= site_url %></span>
                </div>
                <div>
                    <article itemprop="articleBody">
                        <%- content %>
                    </article>
                </div>
            </div>
        </div>
    </div>
</main>

<% // footer with language and theme %>
<% include footer.ejs %>

<script defer src="<%- new URL('common.bundle.js', config.uris.webpack.root).href + '?v=' + config.application.version %>" crossorigin="anonymous"></script>
<script defer src="<%- new URL('page.bundle.js', config.uris.webpack.root).href + '?v=' + config.application.version %>" crossorigin="anonymous"></script>

</body>
</html>
