<% // Blog standalone page %>
<!DOCTYPE html>
<html lang="<%- language %>">

<% // html head %>
<% include head.ejs %>

<body>

<% // common requirements %>
<% include common.ejs %>

<% // navigation bar %>
<% include navbar.ejs %>

<main itemscope itemtype="http://schema.org/Article">
    <div id="page-wrapper" class="k-content">
        <div class="container" role="document">
            <div class="page-header">
                <h1>
                    <% if (icon) { %><img src="<%- url.join(config.uris.cdn.root, format(config.uris.cdn.icons, icon)) %>" alt="<%= title %>" itemprop="image"><% } %>
                    <span itemprop="name"><%= title %></span>
                </h1>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div hidden>
                        <span itemprop="author"><%= author %></span>
                        <time datetime="<%= creation_date %>" itemprop="datePublished"><%= moment(creation_date).locale(getLocale()).format('LLL') %></time>
                        <span itemprop="articleSection"><%= category %></span>
                        <span itemprop="inLanguage"><%= getLocale() %></span>
                        <span itemprop="description"><%= description %></span>
                        <span itemprop="url"><%= site_url %></span>
                    </div>
                    <div class="clearfix">
                        <article itemprop="articleBody">
                            <%- content %>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<% // footer with language and theme %>
<% include footer.ejs %>

<script src="<%- url.join(config.uris.webpack.root, 'common.bundle.js') + '?v=' + config.application.version %>" crossorigin="anonymous"></script>
<script src="<%- url.join(config.uris.webpack.root, 'page.bundle.js') + '?v=' + config.application.version %>" crossorigin="anonymous"></script>

</body>
</html>
