<% // Blog standalone page %>
<!DOCTYPE html>
<html lang="<%- language %>">

<% // html head %>
<% include head.ejs %>

<body>

<% // common requirements %>
<% include common.ejs %>

<% // navigation bar %>
<% include navbar.ejs %>

<main itemscope itemtype="http://schema.org/Article">
    <div id="page-wrapper" class="k-content">
        <div class="container" role="document">
            <div class="page-header">
                <h1>
                    <% if (icon) { %><img src="<%- url.resolve(config.uris.cdn.root, format(config.uris.cdn.icons, icon)) %>" alt="<%= title %>"><% } %>
                    <span itemprop="name"><%= title %></span>
                </h1>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div hidden>
                        <span itemscope itemtype="http://schema.org/Person" itemprop="author">
                            <span itemprop="name"><%= author %></span>
                        </span>
                        <time itemprop="dateModified" datetime="<%= creation_date %>"><%= moment(creation_date).locale(getLocale()).format('LLL') %></time>
                        <time itemprop="datePublished" datetime="<%= creation_date %>"><%= moment(creation_date).locale(getLocale()).format('LLL') %></time>
                        <span itemprop="articleSection"><%= category %></span>
                        <span itemprop="description"><%= description %></span>
                        <span itemprop="headline"><%= description.substr(0, 100) + '...' %></span>
                        <span itemprop="inLanguage"><%= getLocale() %></span>
                        <img itemprop="image" src="<%= image %>" alt="<%= title %>">
                        <span itemprop="mainEntityOfPage"><%= site_url %></span>
                        <span itemscope itemtype="http://schema.org/Organization" itemprop="publisher">
                            <span itemprop="name"><%- config.application.siteName %></span>
                            <span itemscope itemtype="http://schema.org/ImageObject" itemprop="logo">
                                <span itemprop="url"><%- url.resolve(config.uris.cdn.root, format(config.uris.cdn.images, 'apple-touch-icon-180x180.png')) %></span>
                            </span>
                        </span>
                        <span itemprop="url"><%= site_url %></span>
                    </div>
                    <div class="clearfix">
                        <article itemprop="articleBody">
                            <%- content %>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<% // footer with language and theme %>
<% include footer.ejs %>

<script defer src="<%- url.resolve(config.uris.webpack.root, 'common.bundle.js') + '?v=' + config.application.version %>" crossorigin="anonymous"></script>
<script defer src="<%- url.resolve(config.uris.webpack.root, 'page.bundle.js') + '?v=' + config.application.version %>" crossorigin="anonymous"></script>

</body>
</html>
