<% include header.ejs %>

<main>
    <div id="post-wrapper" class="k-content">
        <div class="container">
            <div class="page-header">
                <h1>
                    <% if (icon) { %><img src="<%= format(config.uris.cdn.svg.office, icon) %>" alt="<%= title %>"><% } %>
                    <span><%= title %></span>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div>
                        <div class="pull-left"><i class="kf kf-user"></i>&nbsp;<%= author %></div>
                        <div class="pull-right"><i class="kf kf-datetime"></i>&nbsp;<%= moment(creation_date).locale(getLocale()).format('LLL') %></div>
                    </div>
                    <article><%- content %></article>
                </div>
                <div class="col-md-3">
                    <% include groups.ejs %>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/assets/common.bundle.js"></script>
<script src="/assets/post.bundle.js"></script>

<% include footer.ejs %>
