<% include header.ejs %>

<main>
    <div id="blog-wrapper" class="k-content">
        <div class="container">
            <div class="page-header">
                <h1>
                    <% if (icon) { %><img src="<%= format(config.uris.cdn.svg.office, icon) %>" alt="<%= title %>"><% } %>
                    <span><%= title %></span>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <% if (Array.isArray(results)) { %>
                        <ul class="media-list">
                        <% for (var i = 0; i < results.length; i++) { %>
                        <li class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="<%= format(config.uris.cdn.svg.office, results[i].icon) %>" alt="<%= results[i].title %>">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><%= results[i].title %></h4>
                                //TODO date, author, ....
                                <p><%= results[i].description %></p>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                    <% } else { %>
                        <%- content %>
                    <% } %>
                </div>
                <div class="col-md-4">
                    Calendar
                    Categories
                    Authors
                </div>
            </div>
        </div>
    </div>
</main>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/assets/common.bundle.js"></script>
<script src="/assets/post.bundle.js"></script>

<% include footer.ejs %>
