<% // Blog posting page %>

<% // page header %>
<% include header.ejs %>

<% // navigation bar %>
<% include navbar.ejs %>

<main itemscope itemtype="http://schema.org/BlogPosting">
    <div id="post-wrapper" class="k-content">
        <div class="container" role="document">
            <div class="page-header">
                <h1>
                    <% if (icon) { %><img src="<%= url.join(config.uris.cdn.root, format(config.uris.cdn.icons, icon)) %>" alt="<%= title %>" itemprop="image"><% } %>
                    <span itemprop="name"><%= title %></span>
                </h1>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <div>
                        <div class="pull-left">
                            <i class="kf kf-user"></i>&nbsp;
                            <span itemprop="author"><%= author %></span>
                        </div>
                        <div class="pull-right">
                            <i class="kf kf-datetime"></i>&nbsp;
                            <time datetime="<%= creation_date %>" itemprop="datePublished"><%= moment(creation_date).locale(getLocale()).format('LLL') %></time>
                        </div>
                        <div hidden>
                            <span itemprop="articleSection"><%= category %></span>
                            <span itemprop="inLanguage"><%= getLocale() %></span>
                            <span itemprop="description"><%= description %></span>
                            <span itemprop="url"><%= site_url %></span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <article itemprop="articleBody">
                            <%- content %>
                        </article>
                    </div>
                </div>
                <div class="hidden-xs col-sm-4 col-md-3 hidden-print">
                    <% // Social buttons %>
                    <section>
                        <a role="button" href="#" class="social" data-command="facebook"><img src="<%= url.join(config.uris.webapp.root, format(config.uris.webapp.public, 'facebook.svg')) %>" alt="Facebook"></a>
                        <a role="button" href="#" class="social" data-command="google"><img src="<%= url.join(config.uris.webapp.root, format(config.uris.webapp.public, 'google.svg')) %>" alt="Google+"></a>
                        <a role="button" href="#" class="social" data-command="linkedin"><img src="<%= url.join(config.uris.webapp.root, format(config.uris.webapp.public, 'linkedin.svg')) %>" alt="Linkedin"></a>
                        <a role="button" href="#" class="social" data-command="pinterest"><img src="<%= url.join(config.uris.webapp.root, format(config.uris.webapp.public, 'pinterest.svg')) %>" alt="Pinterest"></a>
                        <a role="button" href="#" class="social" data-command="twitter"><img src="<%= url.join(config.uris.webapp.root, format(config.uris.webapp.public, 'twitter.svg')) %>" alt="Twitter"></a>
                    </section>
                    <% // Side menus for calendar, categories and authors %>
                    <% include groups.ejs %>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-1.11.3.min.js" integrity="sha256-7LkWEzqTdpEfELxcZZlS6wAx5Ff13zZ83lYO2/ujj7g=" crossorigin="anonymous"></script>
<script src="<%= url.join(config.uris.webpack.root, 'common.bundle.js') + '?v=' + config.application.version %>" crossorigin="anonymous"></script>
<script src="<%= url.join(config.uris.webpack.root, 'post.bundle.js') + '?v=' + config.application.version %>" crossorigin="anonymous"></script>

<% include footer.ejs %>
