<% include header.ejs %>

<main itemscope itemtype="http://schema.org/BlogPosting">
    <div id="post-wrapper" class="k-content">
        <div class="container" role="document">
            <div class="page-header">
                <h1>
                    <% if (icon) { %><img src="<%= format(config.uris.cdn.svg.office, icon) %>" alt="<%= title %>" itemprop="image"><% } %>
                    <span itemprop="name"><%= title %></span>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div>
                        <div class="pull-left">
                            <i class="kf kf-user"></i>&nbsp;
                            <span itemprop="author"><%= author %></span>
                        </div>
                        <div class="pull-right">
                            <i class="kf kf-datetime"></i>&nbsp;
                            <time datetime="<%= creation_date %>" itemprop="datePublished"><%= moment(creation_date).locale(getLocale()).format('LLL') %></time>
                        </div>
                        <div hidden>
                            <span itemprop="articleSection"><%= category %></span>
                            <span itemprop="inLanguage"><%= getLocale() %></span>
                            <span itemprop="description"><%= description %></span>
                            <span itemprop="url"><%= site_url %></span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <article itemprop="articleBody">
                            <%- content %>
                        </article>
                    </div>
                </div>
                <div class="col-md-3 hidden-print">
                    <% include groups.ejs %>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="<%= urljoin(config.uris.webapp.public, 'assets/common.bundle.js') %>"></script>
<script src="<%= urljoin(config.uris.webapp.public, 'assets/post.bundle.js') %>"></script>

<% include footer.ejs %>
