<% // Blog search result (list of posts) page %>
<!DOCTYPE html>
<html lang="<%- language %>">

<% // html head %>
<% include head.ejs %>

<body>

<% // common requirements %>
<% include common.ejs %>

<% // navigation bar %>
<% include navbar.ejs %>

<main class="k-content" >

    <% // drawer %>
    <% include drawer.ejs %>

    <div class="container">
        <div id="id-main-title" class="border-bottom my-3">
            <h1 class="d-flex">
                <% if (icon) { %><img class="mr-1" src="<%- iconURL(icon) %>" alt="<%= title %>"><% } %>
                <span><%= title %></span>
            </h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 col-lg-9">
                <% if (results.length === 0) { %>
                <div class="alert alert-info" role="alert"><%- __('search.message') %></div>
                <% } else { %>
                <ul class="list-unstyled">
                    <% for (var i = 0; i < results.length; i++) { %>
                    <li class="media">
                        <a class="mr-3" href="<%= results[i].site_url %>">
                            <img class="img-xl" src="<%- iconURL(results[i].icon) %>" alt="<%= results[i].title %>">
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">
                                <a href="<%= results[i].site_url %>"><%= results[i].title %></a>
                            </h5>
                            <div class="mt-0 mb-1">
                                <i class="kf kf-tags"></i><span>&nbsp;<%= results[i].category %></span>
                                <i class="kf kf-user"></i><span>&nbsp;<%= results[i].author %></span>
                                <i class="kf kf-datetime"></i><span>&nbsp;<%= moment(results[i].creation_date).locale(getLocale()).format('LLL') %></span>
                            </div>
                            <p><%= results[i].description %></p>
                        </div>
                    </li>
                    <% } %>
                </ul>
                <% } %>
            </div>
            <div class="d-none d-md-block col-md-4 col-lg-3 d-print-none">
                <% include groups.ejs %>
            </div>
        </div>
    </div>
</main>

<% // footer with language and theme %>
<% include footer.ejs %>

<script defer src="<%- scriptURL('common.bundle.js') %>" crossorigin="anonymous"></script>
<script defer src="<%- scriptURL('search.bundle.js') %>" crossorigin="anonymous"></script>

</body>
</html>
